@page "/demo001"
@inject WebApiService apiSvc
@inject BlazorComponentBus.ComponentBus busSvc

<PageTitle>DEMO001</PageTitle>

<h3>_DEMO001</h3>

<button class="btn btn-primary" @onclick=HandleClick>載入資料</button>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Nid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in dataList)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Gender</td>
                <td>@item.Nid</td>
            </tr>
        }
    </tbody>
</table>

<pre>
    @message
</pre>

@code {
    private List<MyFormData>? dataList = new();
    string message = String.Empty;

    async Task HandleClick(MouseEventArgs e)
    {
        dataList = await apiSvc.PostDataAsync<List<MyFormData>>("api/MyData/QryDataList");
        await busSvc.Publish(new FooBusEvent { msg = $"哈 Foo 哈{DateTime.Now.Second}" });
    }
}
