@page "/jsrlab"
@inject JSFooService jsFoo

<h3>JSR Lab</h3>
<button @onclick=CallAction >Call Action</button>
<p>@message</p>

@code {
  string message = "[empty]";

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
    if (firstRender)
    {
      await jsFoo.ImportAsync();
    }
  }

  async Task CallAction()
  {
    message = await jsFoo.CallActionAsync();
  }

}
